.h-200p {
  height: 200px;
}
.card-overlay {
  background: rgba(98, 57, 139, 0.6);
  width: 100%;
  height: 200px;
  position: absolute;
  display: none;
}
table td,
table th {
  font-size: 18px !important;
}

.bookshelf-frame {
  width: 100%;
  min-height: 500px;
  background-image: url("https://static.tumblr.com/8x9m588/C8ho55ylx/bg-wood2.png");
  background-repeat: no-repeat;
  border: 10px solid #9a8548 !important;
  background-size: cover;
  background-position: center;
}
.shelf-divider {
  border-top: 10px solid #323232;
}
/* .book-wrapper img {
  max-height: 100%;
  max-width: 100%;
} */
.book-wrapper img:hover {
  -webkit-filter: brightness(120%);
  box-shadow: 4px 3px 5px 0px rgba(154, 133, 72, 1);
  transform: scale(1.1);
}

.nav-link.active {
  border: 1px solid #62398b !important;
  font-weight: bold;
}
.collection-card {
  margin-top: 1rem;
}
